body {
	font-family: "Lato";
	/*padding-top: 50px;*/
}

.sidebar {
	height: 100vh;
}

.sidebar, .sidebar a {
	background-color: #2980B9;
	text-align: center;
	color: white;
}

.noscroll {
	overflow: hidden;
	position:fixed;
}

.search-sidebar {
	width: 100%;
}

.search-input {
	border-radius: 20px !important;
}

.top-sidebar {
	background-color: #2980B9;
	margin-bottom: 50px;
}

.bottom-sidebar {
	margin-top: 50px;
}

.bottom-sidebar a:hover{
	background-color: #2980B9 !important;
}

.sidebar-icon-big {
	font-size: 50px;
}