{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
        <h1>Welcome to Stock Analysis Tool</h1>

        <br>

        <h4>

        Visual Stock Analysis is a software tool that helps traders with analysis by providing more insight from various visualization. The analysis will be split into technical analysis and social(fundamental) analysis.

        <br><br>

        In Technical Analysis tab to query for the open, close, low, high prices of stock as well as ratios of the stock.

        <br><br>

        <img src="../static/img/technical.png" style="width:600px;height:400px;">

        <br><br>

        In Social Analysis tab to perform sentiment analysis of given keyword.

        <br><br>

        <img src="../static/img/social.png" style="width:600px;height:400px;">

        <br><br>

        Finally, you can go to Correlation Analysis tab to check the correlation between two different stocks.

        </h4>

        <br>
      </div>
    </div>
  </div>
{% endblock %}
